.country-list-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .country-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .country-list p {
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  